/.settings
/target
/.classpath
/.project
/.idea
/.iml
velocity.log
services-common/
services-config/
services-kpi/
services-security/
services-soap/
services-soap3/
services-soap4/
services-utils/
services-base/
services-legacy-base/
services-main/
services-resources/
services-json/
services-2g3g4g/
services-3g-session-browser/
services-dashboard/
services-gsm-cfa/
services-kpi-notification/
services-lte-cfa/
services-lte-hfa/
services-mss/
services-wcdma-cfa/
services-wcdma-hfa/
services-wcdma-uertt/
services-dataservice/
services-datasource/
services-query/
services-templates/
services-aspect/
services-logging/
services-groovy/
services-integration-test/
services-restful-tests/
services-test/
/.pmd
